@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #141414;
  --secondary-background: #fff;
  --primary-text: #fff;
  --secondary-text: #141414;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lexend', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
}

main {
  max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}