@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #141414;
  --secondary-background: #fff;
  --primary-text: #fff;
  --secondary-text: #141414;

  --function: #df4576;
  --blue: #6699cc;
  --white: #d4d4d4;
  --purple: #c594c5;
  --green: #99c794;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lexend', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

main {
  max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

header {
  max-width: 768px; 
	margin: 0 auto !important; 
	float: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  transition: transform 0.2s;
}

a:hover {
  transform: scale(1.1);
}

.function {
  color: var(--function)
}

.blue {
  color: var(--blue)
}

.white {
  color: var(--white)
}

.purple {
  color: var(--purple)
}

.green {
  color: var(--green)
}